/**
    Colors variables
*/
$font-family: "Cairo", sans-serif;
$font-secondary: "Releway", sans-serif;
$color-primary: rgba(46, 169, 162, 0.88);
$color-primary-section: #071a1c;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
