.main {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3rem;

  img {
    max-width: 320px;
    width: 100%;
    background-size: contain;

    @include tablet {
      max-width: 700px;
    }
    @include laptop {
      max-height: 500px;
    }
    @include desktop {
      max-height: 600px;
    }
  }

  h1 {
    margin-top: 3rem;
    color: black;
    z-index: 100;
    font-family: $font-family;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 5px 5px rgba(129,129,129,0.5);

    @include tablet {
      font-size: 2.5rem;
    }
  }
}

.about {
  padding: 20px 55px 0 55px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;

  @include tablet {
    justify-content: center;
    flex-direction: column-reverse;
    padding: 10px 30px 0 30px;
    width: 100%;
  }

  &__box {
    position: relative;

    &__tittle {
      background-color: $color-primary;
      font-size: 3rem;
      margin-top: 2.5rem;
      padding: 0.5rem;
      font-weight: 400;

      @include tablet {
        font-size: 1.75rem;
        text-align: center;
        margin-top: 1rem;
      }
    }

    &__text {
      margin-top: 2rem;
      width: 100%;
      font-weight: 200;

      @include tablet {
        margin-top: 1rem;
        margin-bottom: 5rem;
        line-height: 2rem;
        font-size: 1.5rem;
      }

      @include laptop {
        font-size: 1.15rem;
        margin-right: 2rem;
        padding-right: 1rem;
        line-height: 1.5rem;
      }

      @include screen {
        font-size: 1.5rem;
        margin-right: 2rem;
        padding-right: 1rem;
        line-height: 2.15rem;
      }

      @include desktop {
        font-size: 1.5rem;
        padding-right: 1rem;
        line-height: 2.75rem;
      }
    }
  }
}

.about__btn {
  bottom: 0;
  position: absolute;
  display: inline-block;
  padding: 0.625rem 1.875rem;
  color: black;
  background-color: transparent;
  border: 3px solid $color-primary;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: .3s ease;
  transition-property: background-color, color;

  @include tablet {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  &:hover {
    color: white;
    background-color: $color-primary;
  }
}