#contact {
  background-color: #071a1c;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 29px 13px rgba(0, 0, 0, 0.24);

  h1 {
    padding-top: 3rem;
    font-family: $font-family;
    font-weight: 400;
    text-shadow: 1px 5px 5px rgba(129,129,129,0.5);

    @include tablet {
      font-size: 2.5rem;
    }
  }
}

.contact {

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;

    img {
      max-width: 400px;
      width: 100%;
      position: absolute;
      bottom: -50px;
      left: 0;
      opacity: 0.6;
      z-index: 0;
    }

    @include tablet {
      display: block;
    }

    @include laptop {
      gap: 3rem
    }

    @include screen {
      gap: 3rem;
    }

    @include desktop {
      gap: 35rem;
    }

    .contact__text {
      padding: 2rem;
      z-index: 1;

      p {
        color: white;
        line-height: 1.5rem;
      }
    }

    .contact__input {
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        width: 300px;

      }
      &__box {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100%;
        padding: 1rem;
        position: relative;

        span {
          margin-bottom: 0.5rem;
        }

        input{
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $color-primary;
          color: white;
          width: 100%;
        }
      }
    }
  }
}