.social {
  background-color: rgba(70, 172, 167, 0.70);
  width: 17px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  position: fixed;
  left: 0;
  top: 50%;
  cursor: pointer;
  z-index: 1;
  background-image: url("/scss/assets/arrowright.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
  opacity: 0;

  &:hover {
    background-color: rgba(70, 172, 167, 0.99);
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(70, 172, 167);
    border-radius: 0 20px 20px 0;
    animation: pulse 2s ease-out infinite;
    opacity: 0.7;
  }

  @include tablet {
    display: none;
  };
}

.social-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 45%;
  background-color: rgba(46, 169, 162, 0.71);
  width: 40px;
  height: 100px;
  text-align: center;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out, visibility 400ms;

  &:hover {
    background-color: rgba(46, 169, 162, 0.99);
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}